body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.container {
  margin:0 auto;
  min-height: 100vh;
  text-align: center;
  background-color: pink;
  border-radius: 1em;
}

.cohort {
  background-color: white;
  max-width: 400px;
  border-radius: 1em;
  margin: 0 auto;
  margin-bottom: 20px;
}
